<div class="container">
  <div      
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutGap="10px"
    fxLayoutAlign="space-around center" 
    fxLayoutGap.xs="0">

    <ngx-charts-line-chart 
        fxFlex="33%"
        [view]="view"
        [scheme]="colorScheme"
        [results]="temperatureData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [timeline]="true"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
  
      <ngx-charts-line-chart
        fxFlex="33%"
        [view]="view"
        [scheme]="colorScheme"
        [results]="humidityData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
      <ngx-charts-line-chart
        fxFlex="33%"
        [view]="view"
        [scheme]="colorScheme"
        [results]="pressureData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        (select)="onSelect($event)">
      </ngx-charts-line-chart>
  </div>
</div>
