<mat-card style="margin:20px">
  <mat-card-content style="margin:20px">  

  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="http://www.hovione.com/sites/default/files/styles/asset_custom_image_full/public/assets/images/hovione_logo_red.png?itok=TQOY8hiN"/>
  </div>
  <h4>{{description}}</h4>


  <mat-tab-group>
    <mat-tab label="Basic"> <app-weather></app-weather></mat-tab>
    <mat-tab label="Get data"> <app-weather1></app-weather1> </mat-tab>
    <mat-tab label="Style"><app-weather2></app-weather2> </mat-tab>
    <mat-tab label="Pretty"><app-weather3></app-weather3> </mat-tab>
    <mat-tab label="Responsive"><app-weather4></app-weather4> </mat-tab>
    <mat-tab label="Input"><app-weather5></app-weather5> </mat-tab>
  </mat-tab-group>

  </mat-card-content>
</mat-card>
