<div flex-gt-sm="50">
  <div class="pad">
    <div>
     <!-- The chart type goes in here -->
    <div> This is a visual representation of a line chart</div>
      <div style="display: inline-block">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="temperatureData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [timeline]="true"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [timeline]="timeline"
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>

    Humidity
    <div style="display: inline-block">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="humidityData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [timeline]="timeline"
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>
    pressure
    <div style="display: inline-block">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="pressureData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          [timeline]="timeline"
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>
    </div>
  </div>
</div>